<!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
<div id="about_us" class="scroll_down"></div>

<div class="about_us" id="scroll_down_id">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">O firmie</h2>
            </div>
            <div class="col-lg-6">
                <p>Woodeks sp. Z o. o. zajmuje się hurtowa oraz detaliczna sprzedażą tarcicy najwyższej jakości. Jesteśmy obecni na rynku od kilku lat, posiadamy kontakty we wschodniej Europy (Rosja, Bialoruś) z którymi mamy</p>
            </div>
            <div class="col-lg-6 text-center">
                <%= image_tag "1.png" %>
            </div>
        </div>
    </div>
</div>
