<!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
<div id="about_us" class="scroll_down"></div>

<div class="about_us" id="scroll_down_id">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">COMPANY</h2>
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet, et saepe delenit has. Amet quas mei ea, soluta aliquam expetendis ius an, sint corpora at vis. Porro falli viris an has, hinc eros in has. Vel quot viris integre at, quo malis admodum ocurreret ad. Enim esse omittam an nec.</p>
                <p>Lorem ipsum dolor:</p>
                <ul>
                    <li>Lorem ipsum;</li>
                    <li>Lorem ipsum;</li>
                    <li>Lorem ipsum;</li>
                    <li>Lorem ipsum.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, et saepe delenit has. Amet quas mei ea, soluta aliquam expetendis <span style="color: rgb(0, 89, 79);">+375 (21) 326-89-10</span> vel quot viris integre at, quo malis admodum ocurreret ad <span style="color: rgb(0, 89, 79);">info@woodeks.com</p>
            </div>
            <div class="col-lg-6 text-center">
                <%= image_tag "1.png" %>
            </div>
        </div>
    </div>
</div>
