<!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
<div id="about_us" class="scroll_down"></div>

<div class="about_us" id="scroll_down_id">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><strong>О КОМПАНИИ</strong></h2>
            </div>
            <div class="col-lg-6">
                <p>ООО "РадиалТрейд" работает на рынке деревообработки с 2014 года. Компания находится в Республике Беларусь, где осуществляется переработка и заготовка лесопродукции. Основные продажи осуществляются во Франции, Голландии, Германии и других странах Европы. Сегодня компания зарекомендовала себя не только качественной продукцией, а так же бесперебойными поставками.</p>
                <p>Ассортимент продукции:</p>
                <ul>
                    <li>Пиломатериалы;</li>
                    <li>Клееная продукция;</li>
                    <li>Погонажные изделия;</li>
                    <li>Кровельный материал.</li>
                </ul>
                <p>Получите профессиональную консультацию по характеристикам  и размерам продукции по телефону +375 (21) 326-89-10 или по электронной почте info@rtwood.com</p>

                <!-- Кнопки: сертификаты, оставить заявку. -->
                <!-- Сертификаты -->
                <div id="scroll_down_about_us">
                    <button type="button" class="btn btn-large" data-toggle="modal" data-target=".bs-example-modal-lg">СЕРТИФИКАТЫ</button>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <%= image_tag "http://www.mikwood.by/pic/cert/cert5_2.jpg",
                                        class: "img-responsive img-center center-block" %>
                                <%= image_tag "http://www.mikwood.by/pic/cert/cert6_2.jpg",
                                        class: "img-responsive img-center center-block" %>
                            </div>
                          </div>
                        </div>

                    <!-- Оставить заявку -->
                    <%= link_to "ОСТАВИТЬ ЗАЯВКУ", "#contact", class: "btn btn-large btn-success" %>
                </div>
            </div>
            <div class="col-lg-6">
                <%= image_tag "1.png" %>
            </div>
        </div>
    </div>
</div>
