<div id="contact">
    <div class="container">
        <div class="col-lg-5">
            <h3>Адрес</h3>
            <p>211174, Витебская обл., г. Лепель, ул. Полоцкий тракт, д. 45/3, комн. 2</p>
            <br>
            <h3>Контакты</h3>
            <p>
                <span class="glyphicon glyphicon-earphone" style="color: #5cb85c;"></span> &nbsp +375 (21) 326-89-10<br/>
                <span class="glyphicon glyphicon-phone-alt" style="color: #5cb85c;"></span> &nbsp +375 (21) 326-84-17<br/>
                <span class="glyphicon glyphicon-envelope" style="color: #5cb85c;"></span> &nbsp&nbsp info@rtwood.by
            </p>
        </div>
        <div class="col-lg-7">
            <!-- Форма отправки письма -->
            <%= render 'shared/order_form' %>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-6">
            <p class="copyright text-muted small">Copyright &copy; ООО "РадиалТрейд" 2014-2017</p>
            <p>Создание сайта <a href="https://vk.com/id9176212" target="_blank">Vladimir Zagorsky</a></p>
        </div>
    </div>
</div>
