
<!--
<div id="intro" class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>WOODEKS – Skład tarcicy najwyższej jakości</h1>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <p class="mt">
                                <div id="scroll_down_button">
                                    <a href="#contact" class="btn btn-cta btn-lg">Zapytanie ofertowe</a>
                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div id="intro" class="intro-header">

                <div class="intro-message">
                    <ul class="cb-slideshow">
                        <li>
                            <span>Image 01</span>
                            <div>
                                <h3>re·lax·a·tion</h3>
                            </div>
                        </li>
                        <li>
                            <span>Image 02</span>
                            <div>
                                <h3>re·lax·a·tion</h3>
                            </div>
                        </li>                        <li>
                            <span>Image 03</span>
                            <div>
                                <h3>re·lax·a·tion</h3>
                            </div>
                        </li>                        <li>
                            <span>Image 04</span>
                            <div>
                                <h3>re·lax·a·tion</h3>
                            </div>
                        </li>                        <li>
                            <span>Image 05</span>
                            <div>
                                <h3>re·lax·a·tion</h3>
                            </div>
                        </li>                        <li>
                            <span>Image 06</span>
                            <div>
                                <h3>re·lax·a·tion</h3>
                            </div>
                        </li>
                    </ul>
                </div>
</div>
