<div id="intro" class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Drewno najwyższej jakości</h1>
                    <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                          <li>
                            <p class="mt">
                                <div id="scroll_down_button">
                                    <a href="#contact" class="btn btn-cta btn-lg">LEAVE REQUEST</a>
                                </div>
                            </p>
                          </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
