<div class="products">
    <div class="container">
        <!-- Пиломатериалы -->
        <!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
        <div id="pr_1" class="scroll_down"></div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">PRODUCTS</h2>
            </div>
            <div class="col-lg-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque numquam similique dolorum id vitae autem illum quis magni, suscipit eos dolores alias quos est mollitia eveniet iusto esse, sunt fugit.</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">Дуб <small><p>Необрезная доска | Сухая</p></small></h3>
                <div class="image">
                    <%= image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <p>Доступна в толщине в мм: <span class="highlighted">26, 28, 32, 38, 40, 50</span> и в любом классе: <span class="highlighted">1, 2, 3 класс.</span> Твердая древесина, прочная, легко поддается обработке. Цвет варьируется от светло-коричневого до розовато-коричневого цвета</p>
                <p>Цена от <b>80$</b></p>
                <!-- Кнопка, вызывающее модальное окно -->
<a href="#myModal" class="btn btn-primary" data-toggle="modal">Открыть модальное окно</a>

<!-- HTML-код модального окна-->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Заголовок модального окна</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        Содержимое модального окна...
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">Береза <small><p>Необрезная доска | Сухая</p></small></h3>
                <div class="image">
                    <%= image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <p>Доступна в толщине в мм: <span class="highlighted">26, 28, 40</span> и в любом классе: <span class="highlighted">1, 2, 3 класс.</span> Мягкое дерево, разной цветовой гаммы от желтого до ярко-красного. Зачастую используется в резьбе</p>
                <p>Цена от <b>80$</b></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">Ясень <small><p>Необрезная доска | Сухая</p></small></h3>
                <div class="image text-center">
                    <%= image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <p>Доступна в толщине в мм: <span class="highlighted">26, 28, 50, 63</span> и в любом классе: <span class="highlighted">1, 2, 3 класс.</span> Дерево ясного оттенка, твердое, гибкое. Используется чаще всего для лестниц, полов, паркетов и мебели</p>
                <p>Цена от <b>80$</b></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">Сосна <small><p>Необрезная доска | Сухая</p></small></h3>
                <div class="image">
                    <%= image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <p>Доступна в толщине в мм: <span class="highlighted">25, 32, 40, 50, 63</span> и в любом классе: <span class="highlighted">1, 2, 3 класс.</span> Бледно-желтое дерево, содержащее много смолы. Используется в крупных масштабах в строительной и мебельной промышленности</p>
                <p>Цена от <b>80$</b></p>
            </div>
        </div>
    </div>
</div><br>
