<div class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><strong>УСЛУГИ</strong></h2>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service_icon">
                    <%= image_tag "service_1", class: "img-responsive img-center center-block" %>
                </div>
                <div>
                    <h3>Распиловка древисины</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service_icon">
                    <%= image_tag "service_2", class: "img-responsive img-center center-block" %>
                </div>
                <div>
                    <h3>Техническая сушка</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service_icon">
                    <%= image_tag "service_3", class: "img-responsive img-center center-block" %>
                </div>
                <div>
                    <h3>Строгание</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="service_icon">
                    <%= image_tag "service_4", class: "img-responsive img-center center-block" %>
                </div>
                <div>
                    <h3>Транспортные услуги</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Подробную информацию об оказываемых услугах можно узнать по телефону +375 (21) 326-89-10 или по электронной почте info@rtwood.by</p>
            </div>
        </div>
    </div><br>
</div>
