<!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
<div id="services" class="scroll_down"></div>
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Usługi</h2>
            </div>
            <div class="service-icons">
                <div class="col-lg-4 col-sm-6 text-center service">
                    <div class="service_icon">
                        <%= image_tag "service_1.png", class: "img-responsive img-center center-block" %>
                    </div>
                    <div>
                        <h3>Struganie</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center service">
                    <div class="service_icon">
                        <%= image_tag "service_2.png", class: "img-responsive img-center center-block" %>
                    </div>
                    <div>
                        <h3>Suszenie</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center service">
                    <div class="service_icon">
                        <%= image_tag "service_4.png", class: "img-responsive img-center center-block" %>
                    </div>
                    <div>
                        <h3>Transport</h3>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Dodatkowe informacje o usługach można uzyskać pod telefonem oraz adresem e-mail</p>
            </div>
        </div>
    </div><br>
</div>
