<div class="show">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <%= image_tag "email.jpg" %>
                <p>Ваша заявка отправлена. Мы с вами свяжемся в ближайшее время.</p>
                <!-- Оставить заявку -->
                <%= link_to 'Назад', root_path %>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</div>



